

.logo {
  position:absolute;
  width:200px;
  height:auto;
  top: -7%;
  left: -1%;
  /*background-color: yellow;*/
}


.company {
  position: absolute;
  /*bottom: : 40%;*/
  left: 29%;
  /*bottom: 50%;*/
  bottom: 10%;
  /*color: #2a5faf;*/
  color: #fff;
  /*background-color: #fff;*/
  font-family:  Times New Roman;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 23px;
}

.intro {
position: absolute;
/*background-color: yellow;*/
color: #fff;
font-family:  Trebuchet MS;
font-size: 25px;
bottom: 30%;
left: 14%;
}



.buttons {
  position: absolute;
  right: 1%;
  height: 20%;
  width: 48%;
}

.buttons button {
  position: relative;
  right: -8%;
  top: 30%;
  text-overflow: hidden;
  margin-right: 2%; 
  display: table-cell;
  background-color: transparent;
  height: 40%;
  width: 20%;
  max-height: 70px;
  max-width: 160px;
  text-align: center;
  word-break: break-all;
  font-size: 100%; 
  /*font-family:  Times New Roman;*/
  display: inline-block;
  border-radius: 10%;
  min-height:25px; 
  min-width:50px;
  cursor: pointer;
  white-space: nowrap;
}

.mybutton span {
  text-overflow: hidden;
  font-size: 100%;
}


.mybutton {
  color: rgba(255,255,255,1);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  border: 2px solid rgba(255,255,255,0.75);
  box-shadow: 0 0 0 1.7px #2a74d6;
  overflow: hidden;
}


.mybutton::before, .mybutton::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
  -webkit-transform: translate(-13%,-190%) rotate(-30deg);
  transform: translate(-13%,-190%) rotate(-30deg);
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255,255,255,1);
  background-color: rgba(255,255,255,0.45);
}
.mybutton::after{
  -webkit-transition-delay: 0.2s; /* Safari */
    transition-delay: 0.2s;
}
.mybutton:hover::before, .mybutton:hover::after{
  opacity: 0.25;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);  
}



canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../img/imageedit_1_2310896523.jpg);
  background-size: 100% 100%;
}


body {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;

}

footer {
  text-align: center;
}

.soc {
  position: absolute;
  height: 15%;
  width: 25%;
  bottom: 2%;
  position: absolute;
  left: 50%;
  transform: translatex(-60%);
}

.soc li {
  display: table-cell;
}

.soc a {
  display: block;
  height: 75%;
  width: 85%;
  min-height: 30px;
  min-width: 35px;
}

.soc svg {
  display: block;
  height: 100%;
  width: 100%;
}

.facebook:hover, .github:hover, .linkedin:hover, .email:hover {
  border-radius: 100%;
  color: #0e1a25;
  fill: #0e1a25;
  -webkit-transform: scale(1.25);
  transform: scale(1.25);
  -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out;
  transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.facebook {
  color: #3b5998;
  fill: #3b5998;
}
.facebook:hover {
  background: #3b5998;
}

.github {
  color: #26d991;
  fill: #26d991;
}
.github:hover {
  background: #26d991;
}

.linkedin {
  color: #2691d9;
  fill: #2691d9;
}
.linkedin:hover {
  background: #2691d9;
}

.email {
  color: #6ed926;
  fill: #6ed926;
}
.email:hover {
  background: #6ed926;
}


